@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
body{
    font-family: 'Goldman', cursive;
}
* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(31, 1, 43);
    background-size: 100% 100%;
    font-family: 'Sansita Swashed', cursive;
    color: lightgray;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #F1F1F1;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  span {
    display: flex;
    justify-content: center;
  }
  img {
    height: 600px;
    width: 1000px;
  }
 
  .heading-info {
    text-align: center;
    border-radius: 20px;
    margin: 200px 20px 20px 20px;
    padding: 25px;
    color: white;
  }
  p {
    margin-top: 20px;
    font-size: 20px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
  h1 {
    font-family: "Permanent Marker", cursive;
  }
  img {
    height: 5px;
    width: 150px;
  }
  table {
    align-content: center;
  }
  .fh1 {
    color: white;
    box-shadow: 0px 0px 10px 10px whitesmoke;
    width: max-content;
    margin: 40px auto 50px auto;
    padding: 10px 20px;
    border-radius: 50px;
  }
  .thing {
    display: flex;
    flex-direction: column;
  font-family:  'Staatliches', cursive;
  }
  td {
    height: 100px;
    width: 100px;
  }
  h1 {
    font-size:5em;
    font:bold 7.5vw/1.6 'Signika', sans-serif;
    user-select:none;
   }
   span{
     color: aliceblue;
   }

   img{
     height: 350px;
     width: 400px;
   }

   #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(106, 104, 226);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgb(0, 0, 0);
  } 
  